.Container {
    max-width: 90%;
    margin: auto;
}
@media screen and (max-width: 576px) {
    .Container {
        max-width: 100%;
    }
}  
.Carousel img {
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    margin: auto;
}


.carousel .carousel-item {
    height: 20em;
}
.carousel .carousel-item > *:first-child {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}
